.middle-section{
    width: 100%;
    display: flex;
    border: solid;
    background: linear-gradient(45deg, yellow, gray, red, green);
}
.middle-section:hover{
    background: linear-gradient(45deg, green, red, gray, yellow);

}
.left-side{
    width: 17%;
    height: 750px;
    background-color: bisque;
    font-size: 20px;
    text-align: start;
    padding-left: 5px;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
.tropics{
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
    background-color: bisque;
}
.tropics:hover{
    background-color: brown;
    color: white;
    padding: 5px;
}
.right-side{
    width: 85%;
    margin-top: 5px;
    margin-left: 10px;
    padding: 40px;
    overflow-y: scroll;
}

